<div class="login-box" style="height:470px">
    <div class="login-logo">
        <a href="#">
            <img src="assets/design/dist/img/logo.png">
        </a>
    </div>
    <form [formGroup]="form">
        <div class="login-box-body">
            <div style="height: 10px">
            </div>
            <p class="login-box-msg">Forgot Password</p>
            <div class="box-body">
                <div class="form-group col-md-12 col-xs-12" >
                    <label>Email</label>
                    <div class="input-group" [ngClass]="displayFieldCss('Email')">
                        <div class="input-group-btn" style="vertical-align:top">
                            <button type="button" class="btn btn-primary" style="height: 34px;"><i class="fa fa-user"></i></button>
                        </div>
                        <input type="text" class="form-control" 
                                [(ngModel)]="userModel.Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                placeholder="Email *" maxlength="250" id="Email" formControlName="Email" />
                        <app-field-error-display [displayError]="isFieldValid('Email')" errorMsg="Please input your email">
                        </app-field-error-display>
                    </div>
                </div>
                <div class="box-body">
                    <button type="button" class="btn btn-primary" (click)="SendEmail()">Submit</button>
                    <button type="button" class="btn btn-primary" (click)="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <div class="control-sidebar-bg"></div>
</div>