<section class="content-header">
    <h1> Profile<br><small>You can update your profile information.</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Profile</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-10 col-xs-12"><h3 class="box-title">Change Password<br><small>update your password</small></h3></div><div class="form-group col-md-6 col-lg-2 col-xs-12">
                            <div class="pull-right">
                                <a [routerLink]="['/', 'updateprofile']"><button type="submit" class="btn btn-primary">Profile</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-md-4 col-xs-12">
                                    <label for="country">Old Password</label>
                                    <div class="input-group" [ngClass]="displayFieldCss('OldPassword')">
                                        <input type="password" class="form-control" 
                                               [(ngModel)]="changePasswordModel.OldPassword"
                                               placeholder="Old Password *" maxlength="20" id="OldPassword" formControlName="OldPassword" />
                                        <app-field-error-display-user [displayError]="isFieldValid('OldPassword')" errorMsg="Please input your Old Password">
                                        </app-field-error-display-user>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-md-4 col-xs-12">
                                    <label for="country">New Password</label>
                                    <div class="input-group" [ngClass]="displayFieldCss('NewPassword')">
                                        <input type="password" class="form-control" minlength="6"
                                               [(ngModel)]="changePasswordModel.NewPassword"
                                               placeholder="New Password *" maxlength="20" id="NewPassword" formControlName="NewPassword" />
                                        <app-field-error-display-user [displayError]="isFieldValid('NewPassword')" errorMsg="Please input your New Password">
                                        </app-field-error-display-user>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-md-4 col-xs-12">
                                    <label for="country">Confirm Password</label>
                                    <div class="input-group" [ngClass]="displayFieldCss('ConfirmPassword')">
                                        <input type="password" class="form-control"
                                               [(ngModel)]="changePasswordModel.ConfirmPassword"
                                               placeholder="Confirm Password *" maxlength="20" id="ConfirmPassword" formControlName="ConfirmPassword" />
                                        <app-field-error-display-user [displayError]="isFieldValid('ConfirmPassword')" errorMsg="Please input your Confirm Password">
                                        </app-field-error-display-user>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group col-md-4 col-xs-12">
                                    <button type="button" class="btn btn-primary" (click)="ChangePassword()">Change Password</button>
                                    <button type="button" class="btn btn-primary" (click)="Cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
