  <header class="main-header"> 
    <!-- Logo --> 
    <a href="index2.html" class="logo"> 
    <!-- mini logo for sidebar mini 50x50 pixels --> 
    <span class="logo-mini"><img src="assets/design/dist/img/logo-mini.png" ></span> 
    <!-- logo for regular state and mobile devices --> 
    <span class="logo-lg"><img src="assets/design/dist/img/logo.png" ></span> </a> 
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top"> 
      <!-- Sidebar toggle button--> 
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
         
          <!-- Notifications: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i></a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header"> <img src="assets/design/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p> Alexander Pierce - Web Developer <small>Member since Nov. 2012</small> </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center"> <a href="#">Followers</a> </div>
                  <div class="col-xs-4 text-center"> <a href="#">Sales</a> </div>
                  <div class="col-xs-4 text-center"> <a href="#">Friends</a> </div>
                </div>
                <!-- /.row --> 
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left"> <a href="#" class="btn btn-default btn-flat">Profile</a> </div>
                <div class="pull-right"> <a href="#" class="btn btn-default btn-flat">Sign out</a> </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>

<!--<div>
    <div class="row">
        <div class="col-md-12" >
            <h1>Muktas ERP</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="IsLogin;then UserMenu else GuestMenu">            
        </div>
    </div>
    <ng-template #GuestMenu>
    <div class="row">
        <div class="col-md-12" >
            <a [routerLink]="['/', 'home']">Home</a>  |  
            <a [routerLink]="['/', 'login']">Login</a>
        </div>
    </div>    
    </ng-template>
    <ng-template #UserMenu>
    <div class="row">
        <div class="col-md-12" >
            <a [routerLink]="['/', 'dashboard']">Home</a>  |  
            <a [routerLink]="['/', 'userlist']">Users</a>
            <a class="pull-right" (click)="Logout()">Logout</a>
            <span class="pull-right">&nbsp;|&nbsp;</span>
            <a class="pull-right" [routerLink]="['/', 'updateprofile']">Welcome {{UserName}}</a>
        </div>
    </div>    
    </ng-template>    
</div>-->