<div class="login-box" style="height:470px">
    <div class="login-logo">
        <a href="#">
            <img src="assets/design/dist/img/logo.png">
        </a>
    </div>
    <form [formGroup]="form">
        <div class="login-box-body">
            <div style="height: 10px">
            </div>
            <p class="login-box-msg">Re-Set Password</p>
            <div class="box-body">

                <div class="form-group col-md-12 col-xs-12" >
                    <label>New Password</label>
                    <div class="input-group" [ngClass]="displayFieldCss('NewPassword')">
                        <div class="input-group-btn" style="vertical-align:top">
                            <button type="button" class="btn btn-primary" style="height: 34px;"><i class="fa fa-lock"></i></button>
                        </div>
                        <input type="password" class="form-control"
                               [(ngModel)]="resetPasswordModel.NewPassword" minlength="6"
                               placeholder="New Password *" maxlength="20" id="NewPassword" formControlName="NewPassword" />
                        <app-field-error-display [displayError]="isFieldValid('NewPassword')" errorMsg="Please input your New Password (Min 6 char).">
                        </app-field-error-display>
                    </div>
                </div>

                <div class="form-group col-md-12 col-xs-12" >
                    <label>Confirm Password</label>
                    <div class="input-group" [ngClass]="displayFieldCss('ConfirmPassword')">
                        <div class="input-group-btn" style="vertical-align:top">
                            <button type="button" class="btn btn-primary" style="height: 34px;"><i class="fa fa-lock"></i></button>
                        </div>
                        <input type="password" class="form-control"
                               [(ngModel)]="resetPasswordModel.ConfirmPassword"
                               placeholder="Confirm Password *" maxlength="20" id="ConfirmPassword" formControlName="ConfirmPassword" />
                        <app-field-error-display [displayError]="isFieldValid('ConfirmPassword')" errorMsg="Please input your Confirm Password">
                        </app-field-error-display>
                    </div>
                </div>
                <div class="box-body">
                    <button type="submit" class="btn btn-primary" (click)="ResetPassword()">Save</button>
                    <button type="button" class="btn btn-primary" (click)="Cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    <div class="control-sidebar-bg"></div>
</div>
